.week-navigation {
    background: #fefefe;
    padding: 15px;
    border: 7px dotted #725670;
    &__link {
      display: inline-block;
      width: 300px;
      padding: 5px;
      border: 2px dotted darkgray;
      border-radius: 5px;
      color: #22021fd0;
      margin: 10px;
      text-align: center;
      box-sizing: border-box;
    }
  }