@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  background: rgba(201, 169, 127, 0.829);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
